/* basic styling */

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    background-color: white;

    color: #291901;
}

a {
    text-decoration: none;
}

h3, h4 {
    text-align: center;
}

header, section, .aside, .footer, .content {
    margin: 0; 
    padding: 20px; 
}

header, .footer {
    color: #e0ccad;
    background: #291901;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;

}

nav {

}

.prata-regular {
    font-family: "Prata", serif;
        /* font-weight: 400; */
    font-style: normal;
}

.footer {
    text-align: center;
    margin-top: auto;
}

.hero-left {
    flex: 2 1;
    background-color: #C7B7A3;
    /* opacity: 0.5; */
    border-radius: 0px 0px 20px 0px;
    padding: 5px;
    background: rgb(2125, 98, 57);
    background: rgba(125, 98, 57, 0.5);

    color:#291901;
    font-size: 32px;
    font-weight: bold;
}

.hero-text {
    color:black;
    font-size: 32px;
    font-weight: bold;
}

.hero-right {
    flex: 1 1;
}

.content {
    flex: 2 1;
}

.aside {
    flex: 1 1;
}

.wrapper {
    /* margin: auto; */
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 75rem;
}

.menu {   
    list-style-type: none;
    /* color: white; */
}

.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}

.menu-item {
    padding: 10px;
}

.item.button {
    padding: 9px 5px;
}

.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}

/* mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 15px 5px;
}

.menu a {
    color: #e0ccad;
}


.toggle {
    order: 1;
    font-size: 20px;
}

.item {
    order: 2;
    width: 100%;
    text-align: center;
    display: none;
}

/* .active, .item {
    display: block;
} */

/* tablet menu */
@media all and (min-width: 700px) {
    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }

    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }
}

/* desktop menu */

@media all and (min-width: 960px) {
    .menu {
        align-items: flex-start;     
        flex-wrap: nowrap;
        background: none;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
        position: relative;
        display: block; 
        width: auto;
    }

    .button {
        order: 2;
    }

    .toggle {
        display: none;
    }
}

/* other styling */

.headshot {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

@media screen and (min-width: 640px) {
    .flex-container {
        display: flex; 
    }
}

/* useful classes*/

.flex {
    display: flex; 
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.align-ctr {
    align-items: center;
}

.justify-ctr {
    justify-content: center;
}