header, section, aside, footer {
    margin: 0;
    padding: 20px;
    /* border: 1px solid #000000; */
    
}

header, footer {
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.header {
    background: #112d4e;
}

.hero {
    background: #dbe2ef;
    border-radius: 0px 0px 50px 50px;
}

.content {
    /* background: #129a22; */
    flex: 1;
}

.sidebar {
    /* background: #673ab7; */
    flex: 0 1 300px;
}

.footer {
    background: #112d4e;
    /* border: 1px solid #000000; */
}

.hero-wrapper {
    margin: auto;
    max-width: 75rem;
}

.wrapper {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 75rem;
}

@media screen and (min-width: 640px) {
    .flex-container {
        display: flex; 
    }
}